mixin BlockedInfo()
	div(ng-controller='BlockedInfoController').pyBlockedInfo
		div.pySingle.col-xs-12.col-md-4
			span.pull-left
				+UserReference('info.username', 'clickUser()')
			span.pull-right
				+Timestamp('timeSince', 'calendar')
			div.row
				div.col-xs-12
					span.pull-left
						+SubButton(t('unblock'), undefined, 'fa-times', 'unblock()', undefined, undefined, undefined, undefined, undefined, 'disabled').btn-xs
		div(ng-show='subData.single').col-xs-12
			div.row
				div(ui-view=constants.partials.SUB_SINGLE)