mixin NJTermsLink(section)
	//- var name; if(typeof(section) !== 'undefined') {name = section.name;}
	span(class!=attributes.class)
		a(href=utils.utils.constructNJTermsLink(section)).pyLink.pyTermsLink
			block