//- nojs
//- base
include nojs/base/alerts
include nojs/base/basicInfoPages
include nojs/base/basicNavigation
include nojs/base/contentColumn
include nojs/base/footer
include nojs/base/navbar

//- content
include nojs/content/authorsNoteContent
include nojs/content/commentContent
include nojs/content/content
include nojs/content/markdownContent
include nojs/content/postingContent
include nojs/content/previewContent
include nojs/content/profileContent

//- generic
include nojs/generic/activityLink
include nojs/generic/alert
include nojs/generic/appreciationSummary
include nojs/generic/commentsLink
include nojs/generic/contentInfo
include nojs/generic/followersLink
include nojs/generic/followeesLink
include nojs/generic/formSelect
include nojs/generic/helpGenerated
include nojs/generic/helpSection
include nojs/generic/helpTopic
include nojs/generic/icon
include nojs/generic/nextPage
include nojs/generic/previousPage
include nojs/generic/removed
include nojs/generic/sortSelect
include nojs/generic/subAlerts
include nojs/generic/tagList
include nojs/generic/termsSection
include nojs/generic/timeSelect
include nojs/generic/timestamp
include nojs/generic/title
include nojs/generic/userTitle
include nojs/generic/valueSummary
include nojs/generic/warning
include nojs/generic/warningSimple

//- info
include nojs/info/careersPage
include nojs/info/externalUrl
include nojs/info/helpPage
include nojs/info/sessionSettings
include nojs/info/supportPage
include nojs/info/terms
include nojs/info/welcomePage

//- links
include nojs/links/authorReference
include nojs/links/beneficiaryReference
include nojs/links/button
include nojs/links/link
include nojs/links/tagReference
include nojs/links/termsLink
include nojs/links/usernameReference
include nojs/links/userReference

//- page
include nojs/page/activity
include nojs/page/commentPreviews
include nojs/page/comments
include nojs/page/followers
include nojs/page/followees
include nojs/page/pageable
include nojs/page/postingPreviews
include nojs/page/tagPreviews
include nojs/page/userPreviews

//- single
include nojs/single/activityPreviews
include nojs/single/comment
include nojs/single/commentPreview
include nojs/single/commentView
include nojs/single/followInfo
include nojs/single/posting
include nojs/single/postingPreview
include nojs/single/preview
include nojs/single/single
include nojs/single/tag
include nojs/single/tagPreview
include nojs/single/user
include nojs/single/userPreview

//- admin
include admin/adminOnly

//- actions
include admin/actions/adminCommentActions
include admin/actions/adminPostingActions
include admin/actions/adminTagActions
include admin/actions/adminUserActions

//- info
include admin/info/adminAddRestricted

//- single
include admin/jsPartials/adminComment
include admin/jsPartials/adminPosting
include admin/jsPartials/adminUser
//-include admin/jsPartials/adminBackee
//-include admin/jsPartials/adminBacker
include admin/jsPartials/adminBlocked
include admin/jsPartials/adminFlagged
include admin/jsPartials/adminFollowee
include admin/jsPartials/adminFollower
//-include admin/page/adminOffee
//-include admin/page/adminOffeeEmail
//-include admin/page/adminOffer
include admin/jsPartials/adminRestricted

//- modals
include admin/modals/adminCommentModals
include admin/modals/adminPostingModals
include admin/modals/adminUserModals

//- layout
include layout/headSection
include layout/javascriptSection
include layout/bodySection

//- js
//- actions
include actionBars/createComment
include actionBars/commentActions
include actionBars/currentActions
include actionBars/editComment
include actionBars/editPosting
include actionBars/postingActions
include actionBars/tagActions
include actionBars/userActions

//- base
include base/alerts
include base/actionMenu
include base/appreciationResponse
//-include base/betaAlert
include base/cacheDelayWaiting
include base/contentColumn
include base/footer
include base/metaProperties
include base/modals
include base/navbar
include base/navigationMenu
include base/pageable
include base/payment
include base/paymentProcessing
include base/tourAvailable

//- button
include button/actionButton
include button/button
include button/buttonInner
include button/dropdownButton
include button/dropdownButtonInner
include button/dropdownButtonSplit
include button/dropdownNavButton
include button/linkButton
include button/menuButton
include button/miniButton
include button/navButton
include button/subButton

//- content
include content/appreciationResponseContent
include content/authorsNoteContent
include content/commentContent
include content/content
include content/markdownContent
include content/messageContent
include content/messagePreviewContent
include content/postingContent
include content/previewContent
include content/profileContent

//- finance
include finance/paymentButton
include finance/paymentImage

//- generic
include generic/actionsAuthentication
include generic/appreciationSummary
include generic/authenticationRequired
include generic/collapsed
include generic/collapsedButton
include generic/commentsDisabled
include generic/contentInfo
include generic/contentLoader
include generic/contentPreview
include generic/extraStats
include generic/form
include generic/formContent
include generic/formContentPreview
include generic/formInput
include generic/formSection
include generic/formSelect
include generic/genericErrorPage
include generic/genericInfoPage
include generic/helpGenerated
include generic/helpSection
include generic/helpSidebarSection
include generic/helpSidebarTopic
include generic/helpTopic
include generic/icon
include generic/image
include generic/inputBuffer
include generic/listSelect
include generic/loader
include generic/metaList
include generic/modal
include generic/nextPage
include generic/openGraphMetaList
include generic/passwordScore
include generic/previousPage
include generic/promoteDisabled
include generic/readRules
include generic/replyAuthentication
include generic/removed
include generic/search
include generic/sortSelect
include generic/subAlert
include generic/svgIcon
include generic/tagList
include generic/tallySummary
include generic/termsSection
include generic/timeSelect
include generic/timestamp
include generic/title
include generic/titleIcon
include generic/total
include generic/tourSection
include generic/userTitle
include generic/validationInformation
include generic/valueSummary
include generic/warning
include generic/warningSimple

//- info
include info/accountPage
include info/careersPage
include info/createPosting
include info/createMessage
include info/deletedInfo
include info/emailChange
include info/externalUrl
include info/helpPage
include info/loggedOutPage
include info/notFoundPage
include info/passwordChangeUnauthed
include info/paymentChange
include info/redirecting
include info/resetPassword
include info/settings
include info/supportPage
include info/terms
include info/welcomePage

//- jsPartials
include jsPartials/activity
include jsPartials/blockedInfo
include jsPartials/comment
include jsPartials/conversationPreview
include jsPartials/current
include jsPartials/followee
include jsPartials/followInfo
include jsPartials/message
include jsPartials/notification
include jsPartials/posting
include jsPartials/single
include jsPartials/tag
include jsPartials/user

//- links
include links/authorReference
include links/beneficiaryReference
include links/clickLink
include links/emailReference
include links/eventReference
include links/genericHelpLink
include links/helpLink
include links/link
include links/tagReference
include links/termsLink
include links/usernameReference
include links/userReference

//- modals
include modals/commentModals
include modals/currentModals
include modals/editorImageModal
include modals/editorLinkModal
include modals/loginModal
include modals/postingModals
include modals/promotionStatsModal
include modals/purchaseModal
include modals/registerModal
include modals/socialModal
include modals/userModals

//- navigation
include navigation/commentNavigation
include navigation/currentNavigation
include navigation/postingNavigation
include navigation/tagNavigation
include navigation/userNavigation

//- page
//-include page/backee
//-include page/backer
include page/commentPreview
include page/commentView
//-include page/offee
//-include page/offeeEmail
//-include page/offer
include page/postingPreview
include page/preview
include page/tagPreview
include page/userPreview

//- social
include social/socialButton