mixin NJAlerts
	div.row
		span.col-xs-1.col-md-2.col-lg-3
		span.col-xs-10.col-md-8.col-lg-6
			div(role='alert').alert.alert-danger.deprecatedBrowser.text-center
				span= t('deprecatedBrowser')
		span.col-xs-1.col-md-2.col-lg-3