mixin PasswordChangeUnauthed
	div.pyPasswordChangeUnauthed
		+Form#form.col-xs-12
			div(ng-show='recoveredUsername').ng-hide.row
				div.col-xs-12.col-md-6
					span(ng-bind='recoveredUsername')
				div.col-xs-12.col-md-6
					+UsernameReference('username')
			form(name=constants.forms.PASSWORD_CHANGE_UNAUTHED, ng-submit='changePassword()', action=constants.values.VOID_ACTION)
				div.row
					div.col-xs-12
						label
							strong.form-title= t('emailTokenLinksOptions.passwordChange.passwordChange')
						+HelpLink(constants.helpTopics.ACCOUNT.name, constants.helpTopics.ACCOUNT.sections.PASSWORD, 'left').pull-right
				div.row
					div.col-xs-12
						+SubAlert('alert')
				div.row
					div.col-xs-12
						+FormInput('newPassword', t('emailTokenLinksOptions.passwordChange.newPassword'), undefined, undefined, 'password', 'newPassword', 'errors.newPassword', t('emailTokenLinksOptions.passwordChange.newPasswordPlaceholder'), undefined, undefined, undefined, undefined, t('shared:symbols.password'))
				div.row
					div.col-xs-12
						+FormInput('confirmNewPassword', t('emailTokenLinksOptions.passwordChange.confirmNewPassword'), undefined, undefined, 'password', 'confirmNewPassword', 'errors.confirmNewPassword', t('emailTokenLinksOptions.passwordChange.confirmNewPasswordPlaceholder'), undefined, undefined, undefined, undefined, t('shared:symbols.password'))
				div.row
					div.col-xs-12
						span.pull-right
							button(type='submit', ng-class='{disabled: passwordLoading}', aria-label=t('emailTokenLinksOptions.passwordChange.submit')).btn= t('emailTokenLinksOptions.passwordChange.submit')