mixin ResetPassword
	div.pyResetPassword
		+Form#form.col-xs-12
			form(name=constants.forms.PASSWORD_RESET, ng-submit='resetPassword()', action=constants.values.VOID_ACTION)
				div.row
					div.col-xs-12
						label
							strong.form-title= t('resetPasswordOptions.title')
						+HelpLink(constants.helpTopics.ACCOUNT.name, constants.helpTopics.ACCOUNT.sections.PASSWORD, 'left').pull-right
				div.row
					div.col-xs-12
						+SubAlert('alert')
				div.row
					div.col-xs-12
						+FormInput('email', t('resetPasswordOptions.email'), undefined, undefined, 'email', 'email', 'errors.email', t('resetPasswordOptions.emailPlaceholder'), undefined, undefined, undefined, undefined, t('shared:symbols.password'))
				div.row
					div.col-xs-12
						span.pull-right
							button(type='submit', ng-class='{disabled: resetLoading}', aria-label=t('resetPasswordOptions.submit')).btn= t('resetPasswordOptions.submit')