mixin NJTag(tag)
	div.pyTag
		+NJSingle
			div.row
				span.col-xs-12.col-sm-8.col-md-9.col-lg-10
					span.pyTagReference
						+TitleIcon('fa-tag')
						+NJTitle(tag.name, true)
					span.pull-right
						+HelpLink(constants.helpTopics.TAGS.name)
				span.col-xs-12.col-sm-4.col-md-3.col-lg-2
					+NJAppreciationSummary(tag.appreciation)
			div.row
				div.btn-group
					- var pathVars = {}; pathVars[constants.pathVariables.TAG] = tag.name;
					- var activePath = req.path
					- var tagsLink = utils.utils.formatUrl(constants.viewUrls.TAGS_ID, pathVars);
					- var tagsRepliesLink = utils.utils.formatUrl(constants.viewUrls.TAGS_ID_REPLIES, pathVars);
					- var tagPaths = {}
					- tagPaths[tagsLink] = ''
					- tagPaths[tagsRepliesLink] = ''
					- tagPaths[activePath] = 'active'
					+NJButton(tagsLink, 'button', t('shared:taggedPostings'), 'fa-newspaper-o')(class!=tagPaths[tagsLink])
					+NJButton(tagsRepliesLink, 'button', t('shared:replies'), 'fa-at')(class!=tagPaths[tagsRepliesLink])