mixin NJCareersPage
	+GenericInfoPage(t('careerOptions.title'))
		div.row
			span.hidden-xs.col-sm-3
			span.col-xs-12.col-sm-6.text-center
				strong= t('careerOptions.overview')
				span &nbsp;
				span= t('careerOptions.more')
			span.hidden-xs.col-sm-3