mixin Pageable
	div(ng-controller='PageableController', id=constants.viewIds.PAGEABLE)
		div(ng-show='loaded.hasPage').ng-hide
			div.ng-hide.hide.hidden-print
				//- ensure that page is loaded at least once, and is loaded before fetching from the api
				div(ui-view='page')
			div.row
				//-div(ng-show='title').col-xs-12.text-center.ng-hide
					h1(ng-bind='title').pageableTitle.inline
					hr.pageableTitleHr
				//-div(ng-show='time').col-xs-12.col-md-6.ng-hide
				div.col-xs-12.hidden-print
					+TourSection(constants.tourStates.CONTENT.name, constants.tourStates.CONTENT.unauthed.CONTENT_SELECT, false)
						div.row
							div(ng-show='alternatives').col-xs-6.col-md-3.pull-left
								div(dropdown, is-open='alternativesOpen').btn-group.pyDropdownButton.pull-left
									button(type='button', dropdown-toggle, aria-label="{{altActive}}").btn.dropdown-toggle
										i(ng-show='altIcon', ng-class='altIcon', aria-hidden="true").fa.fa-fw
										span(ng-bind='altActive')
										span.menu-space
										span
											i.caret
									ul(role='menu').dropdown-menu
										li(ng-repeat='alt in alternatives')
											+DropdownButtonInner(undefined, 'alt.label', undefined, 'alternativeClick($index)', undefined, undefined, undefined, undefined, '{active: alt.active}', undefined, undefined, undefined, 'alt.icon')
							div(ng-show='time').col-xs-6.col-md-3.ng-hide.pull-right
								div.pull-right
									div(ng-show='time && !timeReplies').ng-hide
										+TourSection(constants.tourStates.CONTENT.name, constants.tourStates.CONTENT.unauthed.TIME_SELECT, false)
											+TimeSelect(false)
									div(ng-show='time && timeReplies').ng-hide
										+TimeSelect(true)
							div(ng-show='showSearch').col-xs-12.col-md-6.ng-hide
								+Search('submitSearch()', 'search.model', 'search.alert', 'searchSymbol', 'searchLabel', 'search.disabled')
			div.pyPageableContent.row
				+TourSection(constants.tourStates.CONTENT.name, constants.tourStates.CONTENT.unauthed.CONTENT, false)
				+Loader('loaded.page.current')
					div.col-xs-12.hidden-print
						+PreviousPage('loaded.page.previous && allowPrevious', 'onPrevious()')
					//-+Loader('loaded.page.previous').col-xs-12
						+PreviousPage('loaded.page.previous && allowPrevious', 'onPrevious()')
					div(ng-show='pageList && pageList.length').col-xs-12.ng-hide
						div.row
							span(ng-repeat='pageItem in pageList')
								span(ng-class='{pageEven: $even, pageOdd: $odd}')
									span(ui-view='page').gradient
								//- show decides display formatting, invisible decides visibility. it shouldnt be visible ever for user
								//-hr(ng-class='{hide: ($index + 1) % columns !== 0}').pageableHr.invisible.col-md-12.hidden-xs.hidden-sm
								//-hr.pageableHr.invisible.col-md-12.hidden-xs.hidden-sm
					span(ng-hide='pageList && pageList.length').ng-hide.col-xs-12
						span(ng-hide='time').ng-hide= t('none')
						span(ng-show='time').ng-hide= t('noneTime')
					div.col-xs-12.hidden-print
						+NextPage('loaded.page.next && allowNext', 'onNext()')
					//-+Loader('loaded.page.next').col-xs-12
						+NextPage('loaded.page.next && allowNext', 'onNext()')