mixin NJAppreciationSummary(appreciation)
	span(class!=attributes.class)
		if appreciation >= 0
			span.block-sm.pyAppreciation
				span.fancy.pull-right
					span= t('shared:symbols.currency')
					span= appreciation